final_flow.json
[{"id":"684e9bc4.ffd0d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7ba3db4.8bf6a","type":"function","z":"684e9bc4.ffd0d4","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"smk\",msg.payload.smk)\nglobal.set(\"reg\",msg.payload.reg)\nvar apikey=\"fzypRygV9Pgj2Xcc480VDGgQQRwm_udc5P7qHVoI9nyw\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":320,"wires":[["feec6f8f.b8de1"]]},{"id":"feec6f8f.b8de1","type":"http request","z":"684e9bc4.ffd0d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":308.9999952316284,"wires":[["b08579c3.6f25f8"]]},{"id":"9a670960.337c38","type":"debug","z":"684e9bc4.ffd0d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":50.99999713897705,"wires":[]},{"id":"b08579c3.6f25f8","type":"function","z":"684e9bc4.ffd0d4","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar sx = global.get('sx')\nvar bmi = global.get('bmi')\nvar ch = global.get('ch')\nvar smk = global.get('smk')\nvar reg = global.get('reg')\nvar token=msg.payload.access_token\nvar instance_id=\"0a07aa43-dfe7-493f-a93f-78df2f92f650\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[ag,sx,bmi,ch,smk,reg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":271.9999990463257,"wires":[["60adde95.3ec8c"]]},{"id":"60adde95.3ec8c","type":"http request","z":"684e9bc4.ffd0d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/cd41597d-8671-49d3-9ef1-1a22e4e1505f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":215.99999904632568,"wires":[["d3aa6289.808e8","9a670960.337c38"]]},{"id":"9a1d8c94.d06a","type":"ui_form","z":"684e9bc4.ffd0d4","name":"","label":"","group":"c787e1a9.7befe","order":1,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true,"rows":null},{"label":"sex","value":"sx","type":"text","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"ch","type":"number","required":true,"rows":null},{"label":"smoker","value":"smk","type":"text","required":true,"rows":null},{"label":"region","value":"reg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bmi":"","ch":"","smk":"","reg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":362.9999952316284,"wires":[["f7ba3db4.8bf6a"]]},{"id":"d1db9f0.4e0f66","type":"ui_text","z":"684e9bc4.ffd0d4","group":"a0c1b882.e837b8","order":1,"width":0,"height":0,"name":"","label":"Insurance Amount","format":"{{msg.payload}}","layout":"col-center","x":817.6000366210938,"y":368.20000743865967,"wires":[]},{"id":"d3aa6289.808e8","type":"function","z":"684e9bc4.ffd0d4","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":111.60000133514404,"wires":[["d1db9f0.4e0f66"]]},{"id":"c787e1a9.7befe","type":"ui_group","z":"","name":"Heath Insurance  Prediction","tab":"ce8dabd9.e202d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0c1b882.e837b8","type":"ui_group","z":"","name":"PREDICTION","tab":"ce8dabd9.e202d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce8dabd9.e202d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]